.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background: var(--c-white);
  font-weight: 600;
  font-size: 18px;
  color: var(--c-navy);
  text-decoration: none;
  row-gap: 18.25px;
}
.sens_fan{
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.name_mode {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  color: var(--c-navy);
  & > .mode {
    font-size: 16px;
    color: var(--c-blue-darker);
  }
}

.clr_mode {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--c-grey);
  & > .cmode {
    font-weight: 600;
    font-size: 18px;
    color: var(--c-navy);
  }
}


