.container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 100%);
  display: inline-flex;
  line-height: 100%;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  gap: 16px;
}

.min {
  color: var(--c-blue-darker);
}
.max {
  color: var(--c-red);
}
