.building_card {
  width: 371px;
  height: 100%;
  min-height: 80px;
  padding: 20px;
  background: var(--c-white);
  border-radius: 8px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 16px;
  color: var(--c-text);
}

.building_card_hdr {
	
}