.page-section-sidebar-alarm-mobile {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	left: 0;
	pointer-events: visible;
	&.show {
		background-color: var(--primary);
		width: 50%;
		z-index: 1;
		/* opacity: .9; */
		border-radius: 0.5em;
		pointer-events: all;
	}
}

.page-section-sidebar-alarm-mobile > div {
	display: flex;
	gap: 1em;
	color: var(--surface);
	pointer-events: none;
	&.show {
		opacity: 1;
		pointer-events: all;
	}
	/* opacity: 0.5; */
}
.page-section-sidebar-alarm-mobile > div > span {
	opacity: 0.2;
	pointer-events: none;
	visibility: hidden;
	/* background-color: red; */
	&.show {
		opacity: 1;
		pointer-events: all;
	}
}
.page-section-sidebar-alarm-mobile > div > img {
	background-color: var(--secondary);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 0.35em;
	&:hover {
		background-color: var(--primary);
	}
}
