.container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 8px;
  & > span {
    line-height: 28px;
    font-weight: 600;
    font-size: 20px;
  }
}

.main_grid {
  width: fit-content;
  display: flex;
}

.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
