.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  background-color: var(--c-grey-lighter);
  height: 100%;
  row-gap: 12px;
  overflow: hidden;
}
