.container {
  display: flex;
  gap: 8px;
  background-color: var(--c-grey-lighter);
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  flex-grow: 1;
  color: var(--c-navy);
  & > img {
    width: 32px;
    height: 32px;
  }
  &.alarm {
    background-color: var(--c-red-light);
    color: var(--c-red);
  }
}

.value {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
