.page-section-sidebar-alarm-mobile {
	position: fixed;
	display: flex;
	min-width: 330px;
	width: calc(100% - 2 * 5px);
	justify-content: center;
	gap: 1em;
	left: 5px;
	bottom: 5px;
	overflow: hidden;
	&.show {
		flex-direction: column;
		background-color: var(--primary50);
		border-radius: 0.5em;
		gap: 0;
		z-index: 1;
	}
}

.page-section-sidebar-alarm-mobile .item {
	display: flex;
	align-items: center;
	height: 40px;
	width: 40px;
	overflow: hidden;
	color: var(--surface);
	&.show {
		height: auto;
		width: calc(100% - 40px);
		gap: 1em;
		padding: 0.5em;
	}
}

.page-section-sidebar-alarm-mobile > div > img {
	background-color: var(--secondary);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 0.4em;
	overflow: visible;
	&:hover {
		background-color: var(--primary);
	}
}
.page-section-sidebar-alarm-mobile-close {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	padding: 0.85em;
}
