.container {
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  height: 492px;
  justify-content: space-between;
}

.incident {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 32px 0px;
}

.achieve {
  padding-top: 24px;
}
