:root {
	/* Endorphin */
	/* --passed: #5ca136; */
	/* --passed-scnd: #2b531a; */
	/* Primary */
	--passed: #192646;
	--passed-scnd: #111a30;
	/* Secondary */
	/* --passed: #65a7ee; */
	/* --passed-scnd: #1c5897; */
	--failed: #dc3545;
	--failed-scnd: #721c24;
	--current: #f5b922;
	--current-scnd: #d19711;
	--scnd: #5c6266;
}

/* Общий контейнер */
.wh-container {
	width: 100%;
	overflow-y: auto;
	scrollbar-width: none;
}

/* Список тестов */
.wh-list {
	list-style: none;
	padding: 0;
	padding-top: 8px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* Контейнер Элемента списка тестов, элемента списка исполнит. механизмы теста */
.wh-item,
.wh-sub-item {
	display: flex;
	flex-direction: column;
}

/* Элемент списка */
.wh-item-base {
	display: flex;
	align-items: center;
	padding: 18px 20px;
	list-style: none;
	cursor: pointer;
	&.open {
		flex-direction: column;
		padding: 0px 0px;
		cursor: auto;
	}
}

/* Плавное выдвижение списка */
.wh-sub-list-wrapper {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease-in-out;
}
.wh-item.open .wh-sub-list-wrapper {
	grid-template-rows: 1fr;
}
.wh-sub-list-wrapper > ul {
	overflow: hidden;
}

/* Шеврон */
.wh-toggle-icon {
	width: 14px;
	height: 14px;
	background-color: var(--failed);
	margin-right: 18px;
	clip-path: polygon(
		35% 0%,
		65% 0%,
		65% 35%,
		100% 35%,
		100% 65%,
		65% 65%,
		65% 100%,
		35% 100%,
		35% 65%,
		0% 65%,
		0% 35%,
		35% 35%
	);
	transition: clip-path 0.3s ease-in-out;
	&.open {
		clip-path: polygon(
			35% 35%,
			65% 35%,
			65% 35%,
			100% 35%,
			100% 65%,
			65% 65%,
			65% 65%,
			35% 65%,
			35% 65%,
			0% 65%,
			0% 35%,
			35% 35%
		);
	}
}

/* Элемент списка - исполнительного механизма */
.wh-sub-item {
	width: 100%;
	padding: 8px 20px 8px 72px;
	margin-right: 38px;
	&.failed:nth-child(odd) {
		background: color-mix(in srgb, var(--failed-scnd) 15%, transparent);
	}
}
.wh-sub-item > span {
	letter-spacing: 2px;
	margin-bottom: 6px;
	color: #5c6266;
	text-transform: uppercase;
}

/* Элемент списка - аварии исполнительного механизма */
.wh-sub-item-err {
	padding: 6px 8px 0px 18px;
	margin-inline-start: 8px;
	list-style-type: '-';
	color: var(--scnd);
}

/* СТИЛЬ ЭЛЕМЕНТА */
.wh-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.wh-title {
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 6px;
	text-transform: uppercase;
}

.wh-desc {
	font-size: 13px;
	color: var(--scnd);
	letter-spacing: 0.5px;
}

/* Армейский штамп-бейдж */
.wh-badge {
	letter-spacing: 2px;
	font-weight: 900;
	padding: 5px 12px;
	border: 2px solid;
	text-transform: uppercase;
}

/* ******************************СОСТОЯНИЯ****************************** */
/* Успешный тест */
.wh-item-base.passed {
	border-left: solid 10px var(--passed);
}
.wh-item-base.passed .wh-title {
	color: var(--passed);
}
.wh-item-base.passed .wh-status-icon {
	width: 14px;
	height: 14px;
	background: var(--passed);
	margin-right: 18px;
	clip-path: polygon(14% 44%, 0% 58%, 38% 95%, 100% 16%, 83% 3%, 35% 65%);
}
.wh-item-base.passed .wh-badge {
	color: var(--passed);
	border-color: var(--passed-scnd);
}

/* Проваленный тест */
.wh-item-base.failed {
	border-left: solid 10px var(--failed);
}
.wh-item-base.failed .wh-title {
	color: var(--failed);
}
.wh-item-base.failed .wh-status-icon {
	width: 14px;
	height: 14px;
	background: var(--failed);
	margin-right: 18px;
	clip-path: polygon(
		10% 0%,
		0% 10%,
		40% 50%,
		0% 90%,
		10% 100%,
		50% 60%,
		90% 100%,
		100% 90%,
		60% 50%,
		100% 10%,
		90% 0%,
		50% 40%
	);
}
.wh-item-base.failed .wh-badge {
	color: var(--failed);
	border-color: var(--failed-scnd);
}

/* Тест в процессе */
.wh-item-base.current {
	border-left: solid 10px;
	animation: metalPulse 1.2s infinite alternate ease-in-out;
}
.wh-item-base.current .wh-title {
	color: var(--current);
}
.wh-item-base.current .wh-status-icon {
	width: 10px;
	height: 10px;
	background: var(--current);
	margin-right: 22px;
	transform: rotate(45deg); /* Квадрат-ромб вместо круга */
	box-shadow: 0 0 10px var(--current);
	animation: badgePulse 1.2s infinite alternate ease-in-out;
}
.wh-item-base.current .wh-badge {
	color: var(--current);
	border-color: var(--current-scnd);
}

/* Мерцание */
@keyframes metalPulse {
	0% {
		border-left-color: #7c5a0b;
		color: #7c5a0b;
	}
	100% {
		border-left-color: var(--current);
		color: var(--current);
	}
}

@keyframes badgePulse {
	0% {
		background-color: #7c5a0b;
	}
	100% {
		background-color: var(--current);
	}
}
