/* Общий контейнер */
.wh-container {
	width: 100%;
}

/* Список тестов */
.wh-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* Контейнер Элемента списка тестов, элемента списка исполнит. механизмы теста */
.wh-item,
.wh-sub-item {
	display: flex;
	flex-direction: column;
}

/* Элемент списка */
.wh-item-base {
	display: flex;
	align-items: center;
	padding: 18px 20px;
	list-style: none;
	cursor: pointer;
	&.open {
		flex-direction: column;
		padding: 0px 0px;
		cursor: auto;
	}
}

/* Плавное выдвижение списка */
.wh-sub-list-wrapper {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease-in-out;
}
.wh-item.open .wh-sub-list-wrapper {
	grid-template-rows: 1fr;
}
.wh-sub-list-wrapper > ul {
	overflow: hidden;
}

/* Шеврон */
.wh-toggle-icon {
	width: 14px;
	height: 14px;
	background-color: #aa1111;
	margin-right: 18px;
	clip-path: polygon(
		35% 0%,
		65% 0%,
		65% 35%,
		100% 35%,
		100% 65%,
		65% 65%,
		65% 100%,
		35% 100%,
		35% 65%,
		0% 65%,
		0% 35%,
		35% 35%
	);
	transition: clip-path 0.3s ease-in-out;
	&.open {
		transform: rotate(180deg);
		clip-path: polygon(
			35% 35%,
			65% 35%,
			65% 35%,
			100% 35%,
			100% 65%,
			65% 65%,
			65% 65%,
			35% 65%,
			35% 65%,
			0% 65%,
			0% 35%,
			35% 35%
		);
	}
}

/* Элемент списка - исполнительного механизма */
.wh-sub-item {
	width: 100%;
	padding: 8px 20px 8px 52px;
	/* list-style: circle; */
	&.failed:nth-child(odd) {
		background-color: #73000036;
	}
}
.wh-sub-item > span {
	letter-spacing: 2px;
	margin-bottom: 6px;
	color: #5c6266;
	text-transform: uppercase;
}

/* Элемент списка - аварии исполнительного механизма */
.wh-sub-item-err {
	padding: 6px 8px 0px 18px;
	margin-inline-start: 8px;
	/* padding-top: 8px; */
	/* padding-left: 18px; */
	list-style-type: '-';
	color: #5c6266;
}

/* СТИЛЬ ЭЛЕМЕНТА */
.wh-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.wh-title {
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 6px;
	text-transform: uppercase;
}

.wh-desc {
	font-size: 13px;
	color: #5c6266;
	letter-spacing: 0.5px;
}

/* Армейский штамп-бейдж */
.wh-badge {
	letter-spacing: 2px;
	font-weight: 900;
	padding: 5px 12px;
	border: 2px solid;
	text-transform: uppercase;
}

/* ******************************СОСТОЯНИЯ****************************** */
/* Успешный тест */
.wh-item-base.passed {
	border-left: solid 10px #5ca136;
}
.wh-item-base.passed .wh-title {
	color: #5ca136;
}
.wh-item-base.passed .wh-status-icon {
	width: 14px;
	height: 14px;
	background: #5ca136;
	margin-right: 18px;
	clip-path: polygon(14% 44%, 0% 58%, 38% 95%, 100% 16%, 83% 3%, 35% 65%);
}
.wh-item-base.passed .wh-badge {
	color: #5ca136;
	border-color: #2b531a;
}

/* Проваленный тест */
.wh-item-base.failed {
	border-left: solid 10px #730000;
}
.wh-item-base.failed .wh-title {
	color: #aa1111;
}
.wh-item-base.failed .wh-status-icon {
	width: 14px;
	height: 14px;
	background: #aa1111;
	margin-right: 18px;
	clip-path: polygon(
		10% 0%,
		0% 10%,
		40% 50%,
		0% 90%,
		10% 100%,
		50% 60%,
		90% 100%,
		100% 90%,
		60% 50%,
		100% 10%,
		90% 0%,
		50% 40%
	);
}
.wh-item-base.failed .wh-badge {
	color: #aa1111;
	border-color: #730000;
}

/* Тест в процессе */
.wh-item-base.current {
	border-left: solid 10px;
	animation: metalPulse 1.2s infinite alternate ease-in-out;
}
.wh-item-base.current .wh-title {
	color: #f5b922;
}
.wh-item-base.current .wh-status-icon {
	width: 10px;
	height: 10px;
	background: #f5b922;
	margin-right: 22px;
	transform: rotate(45deg); /* Квадрат-ромб вместо круга */
	box-shadow: 0 0 10px #f5b922;
	animation: badgePulse 1.2s infinite alternate ease-in-out;
}
.wh-item-base.current .wh-badge {
	color: #f5b922;
	border-color: #d19711;
}

/* Мерцание */
@keyframes metalPulse {
	0% {
		border-left-color: #7c5a0b;
		color: #7c5a0b;
	}
	100% {
		border-left-color: #f5b922;
		color: #f5b922;
	}
}

@keyframes badgePulse {
	0% {
		background-color: #7c5a0b;
	}
	100% {
		background-color: #f5b922;
	}
}
