.cold .page-section-cold-pressure {
	min-width: 185px;
}
.combi .page-section-cold-pressure {
	max-width: 110px;
	max-height: 50px;
}

.combi .page-section-cold-pressure img {
	/* display: none; */
	max-width:28px;
}
