.sidebar {
  width: 345px;
  min-width: 345px;
  /* height: 100%; */
  height: fit-content;
  background-color: var(--c-white);
  &.right {
    background-color: var(--c-grey-lighter);
    padding: 24px;
    width: 370px;
  }
}
