.page-section-cold-cooler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}
.page-section-cold-cooler img {
	width: 134px;
	height: 75px;
}

.page-section-cold-cooler span {
	text-align: center;
}
