.section-info-row {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--fsz28);
	gap: var(--fsz16);
	justify-content: center;
}

/* Кнопка с картинкой */
.sir-item {
	display: flex;
	width: var(--fsz130);
	height: var(--fsz65);
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--primary);
	border-radius: 10px !important ;
	background-color: transparent;
}

.sir-item > span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sir-item-act > img {
	height: var(--fsz50) !important;
}
