:root {
  --c-blue: #62b8f6;
  --c-blue-dark: #2c79c1;
  --c-blue-darker: #65a7ee;
  --c-blue-light: #b9dbf5;
  --c-navy: #001e44;
  --c-grey: #7b8a9d;
  --c-grey-light: #e6e9ed;
  --c-grey-lighter: #f5f6f8;
  --c-grey-lightest: #ecf0f3;
  --c-red: #e83757;
  --c-red-light: #ffe2e5;
  --c-orange: #fb6b18;
  --c-orange-light: #fff1e8;
  --c-green: #3ac0a0;
  --c-green-light: #e7f4e8;
  --c-white: #ffffff;
  --c-text: #333333;
  --c-border: rgba(0, 0, 0, 0.2);
}
/* Обычный (Regular) */
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}

/* Средний (Medium) */
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Полужирный (Bold) */
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Жирный (Bold) */
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Курсив (Italic) */
@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-width: 340px;
  /* блокировка жестов (для современных браузеров): */
  overscroll-behavior: none;
  touch-action: pan-x pan-y; /* запрещает pinch-zoom */
}

body {
  display: flex;
  justify-content: center;
  color: var(--c-white);
}

#root {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*  */
}

.app-content main {
  flex: 1;
}
