.cmp-weather7d {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
.cmp-weather7d-day {
	text-align: center;
	/* padding-left: 16px; */
}
.cmp-weather7d-day-content {
	display: flex;
	/* border: 1px solid var(--primary); */
	border-radius: 16px;
	padding: 8px;
	gap: 16px;
	/* background-color: rgb(232, 232, 232); */
	background-color:#65a7ee2f;
}

.cmp-weather7d-day-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

/* .cmp-weather7d-day-item span img {
	width: 25px;
	height: 25px;
} */
