.btn {
  border: none;
  border-radius: 8px;
  opacity: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  flex-grow: 1;
  transition:
    opacity 0.1s ease,
    transform 0.1s ease;
  &.active {
    background-color: var(--c-blue-darker);
    color: var(--c-white);
  }
  &.loading {
    background-color: var(--c-blue-darker) !important;
    color: var(--c-white) !important;
    animation: blink 0.8s infinite ease-in-out;
    pointer-events: none; /* Защита: нельзя кликнуть повторно во время анимации */
  }
  &.not_active {
    border: 1px solid var(--c-grey-lightest);
    background-color: transparent;
    color: var(--c-grey);
  }
  &.automode_active {
    background-color: var(--c-blue-darker);
    color: var(--c-white);
  }
  &.automode_not_active {
    background-color: var(--c-grey-lightest);
    color: var(--c-navy);
  }

  &.sect_active {
    background-color: var(--c-blue-darker);
    color: var(--c-white);
  }
  &.sect_not_active {
    background-color: var(--c-white);
    color: var(--c-blue-darker);
  }

  &.toggle2_active {
    background-color: var(--c-blue-darker);
    color: var(--c-white);
  }
  &.toggle2_not_active {
    background-color: var(--c-grey-lightest);
    color: var(--c-grey);
  }
  &.toggle3_not_active {
    background-color: var(--c-white);
    color: var(--c-grey);
  }
}

/* Нажатие на кнопку */
.btn:active:not(:disabled) {
  opacity: 0.7;
  transform: scale(0.98);
}
/* Кнопка выключена */
.btn:disabled {
  /* opacity: 0.2; */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
