.cmp-outdoor {
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	gap: var(--fsz30);
	&.mb {
		grid-area: 2 / 1 / 3 / 4;
		gap: 0.5em;
		flex-direction: column;
	}
}

.cmp-outdoor-sensor {
	width: calc(23% - var(--fsz30) / 2);
	aspect-ratio: 1/1;
	border: 1px solid var(--primary);
	border-radius: 20px;
	box-sizing: border-box;
	padding: 1%;
	&.mb {
		aspect-ratio:initial;
	}
}
