.cmp-weather {
	display: flex;
	width: calc(77% - var(--fsz30) / 2);
	/* aspect-ratio: 3/1; */
	background-color: var(--secondary);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('public/img/w.jpg');
	border-radius: 20px;
	overflow: hidden;
	&.mb{
		width: 100%;
		flex-direction: column;
		border-radius: 8px 8px 0 0;
	}
}



.cmp-weather-sens {
	width: 26%;
	box-sizing: border-box;
	padding: 1% 2%;
}
