.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px 20px;
  row-gap: 12px;
  border: 1px solid var(--c-navy);
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.content > img {
  height: 40px;
}
.msg {
  font-weight: 500;
  font-size: 18px;
  color: var(--c-navy);
  line-height: 24px;
}
.date {
  text-align: end;
  color: var(--c-grey);
}

/* typeIncident */
.equipment {
  border-color: var(--c-blue-darker);
  background-color: var(--c-blue-lighter);
}

.notification {
  border-color: var(--c-yellow);
  background-color: var(--c-yellow-light);
}

.warning {
  border-color: var(--c-orange);
  background-color: var(--c-orange-light);
}

.alarm {
  border-color: var(--c-red);
  background-color: var(--c-red-light);
}
