.container {
  padding: 24px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.monit {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /* width: 345px; */
  height: 374px;
}

.achieve {
  height: 104px;
  margin:0px;
}
