.cmp-weather-entry {
	/* height: 350px; */
	color: var(--primary);
}

.cmp-weather-entry-btn {
	line-height: 22px;
	border-radius: 0;
	padding: 0;
	font-size: var(--fsz22) !important;
	color: var(--secondary);
	background-color: transparent;
	width: fit-content;
}

.cmp-weather-entry-btn-apy {
	line-height: 18px;
	border-radius: 0;
	padding: 0;
	font-size: var(--fsz16) !important;
	color: var(--secondary);
	background-color: transparent;
	width: fit-content;
}

.cmp-weather-entry-fore {
	display: flex;
	flex-direction: column;
}
.cmp-weather-entry-fore-active {
}
.cmp-weather-entry-btns {
	display: flex;
	gap: 16px;
}
.cmp-weather-entry > span {
	line-height: 22px;
	font-size: var(--fsz22);
	color: var(--secondary);
	font-family: 'Q-Medium';
	padding-block: 2px;
}
