.cmp-sec-row {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	justify-content: center;
	/* margin: 10px; */
}

/* Кнопка с картинкой */
.cmp-sec-row-item {
	display: flex;
	width: 110px;
	height: 50px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--primary);
	border-radius: 10px !important ;
	background-color: transparent;
}

.cmp-sec-row-item > span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--primary);
}

.cmp-sec-row-item > img {
	height: 40px;
}

.cmp-sec-row-item .off {
	background-color: var(--surface);
}
.fc {
	padding-inline: 0px !important;
	font-size: 22px !important;
	gap: 0px !important;
	width: 145px;
}
.fc > span {
	width: 60px;
}

/* Испаритель - комбинированный склад - кнопка */
.btn-cooler {
	position: relative;
	width: 270px !important;
	font-size: var(--fsz22) !important;
}
.btn-cooler .up {
	position: absolute;
	font-size: var(--fsz18);
	top: -2.4rem;
}
.btn-cooler .center {
	position: absolute;
	top: 0.1rem;
	height: 40px;
	left: calc(50%);
	transform: translateX(-50%);
	display: flex;
	gap: 8px;
	color: var(--primary);
}
.center > img {
	filter: brightness(0) saturate(100%) invert(14%) sepia(11%) saturate(3362%) hue-rotate(185deg)
		brightness(92%) contrast(95%);
}

.center > span {
	width: 100px;
	&:first-child {
		text-align: right;
	}
	&:last-child {
		text-align: left;
	}
}

.btn-cooler .left {
	position: absolute;
	height: 100%;
	width: 35px;
	top: 0px;
	left: 0px;
	font-size: 14px;
	color: var(--primary);
}

.left > .sh {
	position: absolute;
	left: 0px;
	top: -5px;
	height: 35px;
	width: 35px;
}

.left > span {
	position: absolute;
	left: 7px;
	bottom: -16px;
	width: 50px;
	text-align: left;
}

.btn-cooler .right {
	position: absolute;
	height: 100%;
	width: 35px;
	top: 0px;
	right: 8px;
	font-size: 14px;
	color: var(--primary);
}
.right .fl {
	position: absolute;
	width: 30px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
