.container {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  background-color: var(--c-white);
  border-radius: 12px;
  padding: 16px 20px;
  width: 385.67px;
  height: 64px;
  gap: 4px;
}

.target {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  padding-right: 8px;
  gap: 8px;
  color: var(--c-blue-darker);
  background-color: var(--c-blue-lighter);
  border-radius: 40px;
  white-space: nowrap;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  /* white-space: nowrap; */
}

.number {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--c-navy);
  white-space: nowrap;
}
