.cmp-weather-fore {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0.5em;
	justify-content: space-between;
	&.cold {
		width: 100%;
	}
	&.mb {
		padding: 0.25em 1em;
		justify-content: space-between;
	}
}

.cmp-weather-fore-adr {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: clamp(0.75rem, 0.6rem + 0.53vw, 1rem);
	color: var(--background);
}
.cmp-weather-fore-div {
	display: flex;
	flex-direction: column;
	&.mb {
		flex-direction: row;
	}
}
.cmp-weather-fore-point {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 16px);
	color: var(--background);
	font-size: var(--fsz20);
	&.cold{
		width: calc(100%);
	}
	&.mb {
		flex-direction: column;
		width: 50%;
		font-size: 0.75em;
		text-align: end;
		justify-content: center;
	}
}
