.weather-fore {
	display: flex;
	width: 100%;
	position: relative;
	padding: 8px 8px;
	/* gap: 10px; */
	justify-content: space-between;
}

.weather-fore .adr {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: var(--fsz20);
	color: var(--background);
}

.wthr-update {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 16px);
	color: var(--background);
	font-size: 16px;
}

.weather-fore .wthr {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fsz28);
	color: var(--background);
}

.weather-fore .wthr > div:first-child {
	display: flex;
	flex-direction: column;
}

.weather-fore .wthr > div:first-child > span {
	text-align: right;
}
.weather-fore .wthr .temp {
	font-size: var(--fsz55);
}
.weather-fore .wthr .status {
	font-size: var(--fsz20);
}
.weather-fore .wthr img {
	width: 100px;
	height: 100px;
}


