.section-info-other {
	display: flex;
	align-items: center;
	font-size: var(--fsz26);
	justify-content: center;
	gap: var(--fsz30);
}

.sio-span {
	width: min-content;
	text-align: center;
	background-color: aqua;
}

.sio-btn {
	background-color: transparent;
	padding: 4px;
}
/* Valve */
.sio-btn > img {
	height: var(--fsz80) !important;
	border: 1px solid var(--primary);
	border-radius: 50%;
	padding: var(--fsz16);
	overflow-clip-margin: var(--fsz10);
	clip-path: circle();
}

.sio-valve{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--fsz10);
	width: 132px;
	justify-content: space-around;
}
.sio-valve-map{
	display: flex;
	flex-direction: column;
	gap: var(--fsz10);
}
.sio-valve > span{
	width: 50px;
}
/* Heater */
.section-info-other > img {
	height: var(--fsz80);
}